/* CSS Reset */
body, header, nav, main, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Style Rules for Scroll Behavior */
html {
    scroll-behavior: smooth;
}

/* Style Rules for body and images */
body {
    background: #014D22;   
}

img, video {
  max-width: 100%;
  display: block;
}


/* Style Rules for Mobile Viewport */
/* Style Rules for Header */
header {
    top: 0;
    background-color: #014D22;
}

header img {
    margin: 0 auto;
    padding-left: 3%;
    padding-top: 3%;
}

/* Style Rules for Hamburger Menu */
.mobile-nav a {
    color: #fff;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #014D22;
}

/* Show Mobile class, hide tablet-desktop class and menu-links id */
.mobile {
    display: block;
}

.tablet-desktop-nav, #menu-links, #heroimg-tab-desk {
    display: none;
}

/* Style rules for main content */
main {
    background-color: #fff;
    padding: 50px 60px 80px;
}

h2 {
    color: #B4965C;
    font-family: "DM Sans", sans-serif;
}

p {
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Style rules for footer content */
footer {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 0.65em;
}
.footer-contact {
    display: block;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 2%;
}

.footer-contact ul {
    list-style: none;
    padding-right: 10%;
}

.footer-contact li a {
    color: #fff;
}

.socials {
    display: inline-block;
    text-align: center;
    padding: 4%;
}

/* Hide footer navigation and logo for mobile viewport */
.footer-nav, #footer-logo {
    display: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    
    /* Tablet Viewport: Show tablet-dektop-nav class, hide mobile class */
    .tablet-desktop-nav, #heroimg-tab-desk {
    display: block;
  }

    .mobile, .mobile-nav {
    display: none;
  }
    
    /* Tablet Viewport: Style rule for header */
    header {
        padding-top: 1%;
        padding-bottom: 2%;
    }
    
    /* Tablet Viewport: Style rules for nav area */
    .tablet-desktop-nav {
        padding: 1%;
        margin-bottom: 1%;
    }
    
    .tablet-desktop-nav ul {
        list-style-type: none;
        text-align: center;
    }
    
    .tablet-desktop-nav li {
        font-family: "DM Sans", sans-serif;
        font-size: 1.25em;
        display: inline-block;
        border-right: 1px solid #fff;
    }
    
    .tablet-desktop-nav li:last-child {
        border-right: none;
    }
    
    .tablet-desktop-nav li a {
        padding: 0.1em 0.75em;
        display: block;
        color: #fff;
        text-decoration: none;
    }
    
    /* Hide Events sub nav on Tablet */
    .eventsDropdown {
        display: none;
    }
    
    /* Tablet Viewport: Style Rules for main content area */
    
    /* Tablet Viewport: Style Rules for footer*/
    footer {
        color: #fff;
    }
    
    footer p {
        font-family: "DM Sans", sans-serif;
        text-align: right;
        padding-right: 3%;
    }
    
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    #footer-logo {
        display: block;
        text-align: left;
        padding-left: 15%;
    }
    
    .footer-nav {
        display: grid;
    }
    
    .footer-nav li {
        list-style: none;
        text-align: left;
    }
    
    .footer-nav li a{
        color: #fff;
    }
    
    .container-socials-content {
        display: grid;
        grid-template-columns: auto;
    }
    
    .socials {
        text-align: right;
        padding-right: 10%;
    }
    
    .socials a {
        padding-left: 2%;
    }
    
    .footer-contact li {
        text-align: right;
    }
    
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
    
    /* Desktop Viewport: Style rules for header */
    header {
        float: left;
        padding-bottom: 5px;
        margin-left: 15px; 
        width: 10%
    }
    
    /* Desktop Viewport: Style rules for nav area  */
    .tablet-desktop-nav {
        float: right;
        width: 85%;
        margin: 0;
    }
    
    .tablet-desktop-nav ul {
        display: inline-block;
        position: absolute;
        background: #014D22;
        list-style: none;
    }
    
    .tablet-desktop-nav ul li {
        display: inline-block;
        border: none;
        padding: 0;
        width: auto;
    }
    
    .tablet-desktop-nav ul li a {
        color: #fff;
        display: block;
        padding: 0.5em 1em;
        width: auto;
        text-align: center;
        text-decoration: none;
    }
    
    .tablet-desktop-nav ul li:hover {
        color: #fff;
        background-color: #22A858;
    }
    
    /* dropdown nav for events */
    
    .eventsDropdown {
        display: none;
    }
    
    .tablet-desktop-nav ul li:hover .eventsDropdown {
        display: block;
        position: absolute;
        background-color: #014D22;
        margin-top: 0px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
    }
    
    .tablet-desktop-nav ul li:hover .eventsDropdown ul {
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
    }
    
    .tablet-desktop-nav ul li:hover .eventsDropdown ul li a {
        text-align: left;
        font-family: "DM Sans", sans-serif;
        font-size: .57em;
        
    }

    
    
    /* Desktop Viewport: Style rules for main content */
    main {
        clear: left;
    }
    
    /* Desktop Viewport: Style rules for footer */
    #footer-logo {
        text-align: left;
        padding: 6%;
    }

/* Media Query for large desktop viewports */
@media screen and (min-width: 1921px) {
      #container {
    width: 1920px;
    margin: 0 auto;
  }
}

/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}