/* CSS Reset */
body, header, nav, main, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Style Rules for Scroll Behavior */
html {
    scroll-behavior: smooth;
}

/* Style Rules for body and images */
body {
    background: #014D22;   
}

img, video {
  max-width: 100%;
  display: block;
}


/* Style Rules for Mobile Viewport */
/* Style Rules for Header */
header {
    top: 0;
    padding-bottom: 15px;
    background-color: #014D22;
}

header img {
    margin: 0 auto;
    padding-left: 3%;
    padding-top: 3%;
}

/* Style Rules for Hamburger Menu */
.mobile-nav a {
    color: #fff;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #014D22;
}

/* Show Mobile class, hide tablet-desktop class and menu-links id */
.mobile, #heroimg-mobile {
    display: block;
}

.tablet-desktop-nav, #menu-links, #heroimg-tab-desk {
    display: none;
}

/* Style rules for main content */
main {
    background-color: #fff;
    padding: 10px 30px 80px;
}

h2 {
    color: #B4965C;
    font-family: "DM Sans", sans-serif;
}

h3 {
    color: #014D22;
    font-family: "DM Sans", sans-serif;
}

h4 {
    background-color: #22A858;
    color: #fff;
    text-align: center;
    font-size: 2em;
    border-radius: 0.5em;
    border: none;
    padding: 5px 25px;
    display: inline-block;
    margin: 20px 0 20px 100px;
}

.externalh4 {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    padding: 3px 20px;
    display: inline-block;
    margin: 15px 0 15px 60px;
}

h5 {
    color: #014D22;
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

p {
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.timeline-tab-desk {
    display: none;
}

#index-who {
    float: left;
    display: block;
}

.grey-info-box {
    background-color: #EAEAEA;
    padding: 15px;
}

.spacerimg img {
        display: none;
        margin-top: 50px;
        margin-bottom: 50px;
    }

.externalone {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 33%;
    max-height: 33%;
    position: relative;
    bottom: 100px;
}

.externaltwo {
    display: block;
    max-width: 32%;
    max-height: 30%;
    position: relative;
    float: right;
    bottom: 190px;
}

.iconphoneone {
    max-height: 3%;
    max-width: 3%;
    position: relative;
    float: left;
    left: 235px;
    top: 10px;
}

.iconphonetwo {
    max-height: 3%;
    max-width: 3%;
    position: relative;
    float: left;
    left: 55px;
    top: 10px;
}


/* Mobile Viewport: style rules for Index.html Upcoming Events*/
#event-calendar {
    height: auto;
    display: inline-grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin-top: 30px;
}


.event-cal-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.cal-img {
    object-fit: cover;
    z-index: 0;
}

.cal-date {
    position: absolute;
    display: block;
    width: 30%;
    height: auto;
    background-color: #014D22;
    border-radius: 0px 10px 10px;
    z-index: 1;
    top: 0;
    
}
.cal-date h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
}

.cal-title {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 100%;
    bottom: 55px;
    background-color: #EAEAEA;
}

.cal-title h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.cal-title p {
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 10px;
}

.cal-year {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    right: 0px;
    background-color: #014D22;
    width: 100%;
    height: auto;
    margin-top: -5px;
    margin-bottom: -5px;
}

.cal-year h3 {
    color: #fff;
    text-align: right;
    padding-right: 10px;
}

/* Mobile Viewport: Style rules for packages boxes */

#packagelist {
    display: inline-grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

#packagelist h2 {
    text-align: center;
    height: 8%;
}

#packagelist ul {
    font-family: "DM Sans", sans-serif;
}

/* Mobile Viewport: Style Rules for Buttons */
    .button {
        font-family: "DM Sans", sans-serif;
        font-size: .8em;
        color: #fff;
        background-color: #22A858;
        border-radius: 10px;
        border: none;
        padding: 8px 15px 8px;
        cursor: pointer;
    }
    
    .button:hover {
        background-color: #014D22;
        color: #fff;
        border-radius: 10px;
        border: none;
    }

/* Style rules for basketball, softball, and soccer timelines */
.timeline-mobile .timeline-box {
    background-color: #EAEAEA;
    padding: 15px;
}

.committed-teams img {
    margin: 0 50px;
    width: 50%;
    padding: 20px 10px 0 10px;
}

/* Style Rules for sections */

section {
    background-color: #EAEAEA;
    padding: 15px;
    font-family: "DM Sans", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 0.65em;
}
.footer-contact {
    display: block;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 2%;
}

.footer-contact ul {
    list-style: none;
    padding-right: 10%;
}

.footer-contact li a {
    color: #fff;
}

.socials a {
    display: inline-block;
    text-align: center;
    padding: 4%;
}

/* Hide footer navigation and logo for mobile viewport */
.footer-nav, #footer-logo {
    display: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    
    /* Tablet Viewport: Show tablet-dektop-nav class, hide mobile class */
    .tablet-desktop-nav, #heroimg-tab-desk {
    display: block;
  }

    .mobile, .mobile-nav, #heroimg-mobile {
    display: none;
  }
    
    /* Tablet Viewport: Style rule for header */
    header {
        padding-top: 1%;
        padding-bottom: 2%;
    }
    
    /* Tablet Viewport: Style rules for nav area */
    .tablet-desktop-nav {
        padding: 1%;
        margin-bottom: 1%;
    }
    
    .tablet-desktop-nav ul {
        list-style-type: none;
        text-align: center;
    }
    
    .tablet-desktop-nav li {
        font-family: "DM Sans", sans-serif;
        font-size: 1.25em;
        display: inline-block;
        border-right: 1px solid #fff;
    }
    
    .tablet-desktop-nav li:last-child {
        border-right: none;
    }
    
    .tablet-desktop-nav li a {
        padding: 0.1em 0.75em;
        display: block;
        color: #fff;
        text-decoration: none;
    }
    
      #nav {
        z-index: 100;
        position: relative;
    }
    
    /* Hide Events sub nav on Tablet */
    .eventsDropdown {
        display: none;
    }
    
    /* Tablet Viewport: Style Rules for hero image and content */
    
    #heroimg-tab-desk {
        position: relative;
    }
    
    #heroimg-tab-desk p {
        position: absolute;
        top: 55%;
        padding-left: 5%;
        width: 300px;
        font-family: "DM Sans", sans-serif;
    }
    
    #heroimg-tab-desk .index-btns {
        position: absolute;
        top: 80%;
        padding-left: 5%;
        font-size: .75em;
    }
    
    /* Tablet Viewport: Style Rules for main content area */
    
      main {
        padding: 60px 60px 80px;
    }
    
        /* Mobile Viewport: Style Rules for Buttons */
        .button {
            font-size: 1.2em;
        }
    
    .spacerimg img {
        display: block;
    }
    
    #index-who {
        float: left;
        width: 45%;
    }
    
    #index-what {
        float: right;
        width: 45%;
    }
    
    .grey-info-box {
        height: auto;
        width: auto;
        margin-bottom: 50px;
    }
    
    /* Tablet Viewport: Style rules for Index.html Upcoming Events */
            #event-calendar {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);

            }
    
    /* Tablet Viewport: style rules for packages lists*/
        #packagelist {
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 1.5rem;
        }
        
    #packagelist .grey-info-box {
        height: 75%;
    }
    
    /* Hide mobile timeline, show tablet-desktop */
    .timeline-mobile {
        display: none;
    }
    
    .timeline-tab-desk {
        display: block;
    }
    
    #basketball-header-mobile, #softball-header-mobile, #soccer-header-mobile {
        display: none;
    }
    
    /* Tablet Viewport: Style Rules for footer*/
    footer {
        color: #fff;
    }
    
    footer p {
        font-family: "DM Sans", sans-serif;
        text-align: right;
        padding-right: 3%;
    }
    
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    #footer-logo {
        display: block;
        text-align: left;
        padding-left: 15%;
    }
    
    .footer-nav {
        display: grid;
    }
    
    .footer-nav li {
        list-style: none;
        text-align: left;
    }
    
    .footer-nav li a{
        color: #fff;
    }
    
    .container-socials-content {
        display: grid;
        grid-template-columns: auto;
    }
    
    .socials {
        text-align: right;
        padding-right: 10%;
    }
    
    .socials a {
        padding-left: 2%;
    }
    
    .footer-contact li {
        text-align: right;
    }
    
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
    
    /* Desktop Viewport: Style rules for header */
    header {
        float: left;
        padding-bottom: 5px;
        margin-left: 15px; 
        width: 10%
    }
    
    /* Desktop Viewport: Style rules for nav area  */
    .tablet-desktop-nav {
        float: right;
        width: 85%;
        margin: 0;
    }
    
    .tablet-desktop-nav ul {
        display: inline-block;
        position: absolute;
        background: #014D22;
        list-style: none;
    }
    
    .tablet-desktop-nav ul li {
        display: inline-block;
        border: none;
        padding: 0;
        width: auto;
    }
    
    .tablet-desktop-nav ul li a {
        color: #fff;
        display: block;
        padding: 0.5em 1em;
        width: auto;
        text-align: center;
        text-decoration: none;
    }
    
    .tablet-desktop-nav ul li:hover {
        color: #fff;
        background-color: #22A858;
    }
    
    /* dropdown nav for events */
    
    .eventsDropdown {
        display: none;
    }
    
    .tablet-desktop-nav ul li:hover .eventsDropdown {
        display: block;
        position: absolute;
        background-color: #014D22;
        margin-top: 0px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
    }
    
    .tablet-desktop-nav ul li:hover .eventsDropdown ul {
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
    }
    
    .tablet-desktop-nav ul li:hover .eventsDropdown ul li a {
        text-align: left;
        font-family: "DM Sans", sans-serif;
        font-size: .57em;
        
    }

    
    /* Desktop Viewport: Style rules for hero image */
    #heroimg-tab-desk p {
        position: absolute;
        top: 65%;
        padding-left: 5%;
        width: auto;
        font-family: "DM Sans", sans-serif;
        font-size: 1.1em;
    }
    
    #heroimg-tab-desk .index-btns {
        position: absolute;
        top: 80%;
        padding-left: 5%;
        font-size: 1.2em;
    }    
    

    
    /* Desktop Viewport: Style rules for main content */
    main {
        clear: left;
    }
    
        /* Desktop Viewport: Style rules for Index.html Upcoming Events */
            #event-calendar {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);

            }
    
    /* Desktop Viewport: Style rules for footer */
    #footer-logo {
        text-align: left;
        padding: 6%;
    }
}

/* Media Query for large desktop viewports */
@media screen and (min-width: 1921px) {
      #container {
    width: 1920px;
    margin: 0 auto;
  }
}

/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
        }
    }