/* CSS Reset */
body,
header,
nav,
main,
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Style Rules for Scroll Behavior */
html {
    scroll-behavior: smooth;
}

/* Style Rules for body and images */
body {
    background: #014D22;
}

img,
video {
    max-width: 100%;
    display: block;
}


/* Style Rules for Mobile Viewport */

/* Style Rules for Header */
header {
    top: 0;
    padding-bottom: 15px;
    background-color: #014D22;
}

header img {
    margin: 0 auto;
    padding-left: 3%;
    padding-top: 3%;
}

/* Style Rules for Hamburger Menu */
.mobile-nav a {
    color: #fff;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #014D22;
}

/* Show Mobile class, hide tablet-desktop class and menu-links id */
.mobile,
#heroimg-mobile {
    display: block;
}

.tablet-desktop-nav,
#menu-links,
#heroimg-tab-desk {
    display: none;
}

/* Style rules for main content */
main {
    background-color: #fff;
    padding: 10px 30px 80px;
}

h2 {
    color: #B4965C;
    font-family: "DM Sans", sans-serif;
}

.contacth2 {
    color: #fff;
}

h3 {
    color: #014D22;
    font-family: "DM Sans", sans-serif;
}

h4 {
    background-color: #22A858;
    color: #fff;
    text-align: center;
    font-size: 2em;
    border-radius: 0.5em;
    border: none;
    padding: 5px 25px;
    display: inline-block;
    margin: 20px 0 20px 100px;
}


h5 {
    color: #014D22;
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

p {
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sectioncontact {
    height: 300px;
}

#index-who {
    float: left;
    display: block;
    margin-bottom: 10%;
}

#index-who .button {
    margin-bottom: 40px;
}

.grey-info-box {
    background-color: #EAEAEA;
    padding: 15px;
}

/* Start External Page*/

.externalone {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 33%;
    max-height: 33%;
    position: relative;
    bottom: 110px;
}

.externaltwo {
    display: block;
    max-width: 32%;
    max-height: 30%;
    position: relative;
    float: right;
    bottom: 190px;
}

.externalh4 {
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    display: inline-block;
    margin-left: auto;
}

.externalh4logos {
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    padding: 3px 20px;
    display: inline-block;
    margin: 0px 0 15px 0px;
}

.iconphoneone {
    max-height: 3%;
    max-width: 3%;
    position: relative;
    float: left;
    left: 280px;
    top: 10px;
}

.iconphonetwo {
    max-height: 3%;
    max-width: 3%;
    position: relative;
    float: left;
    left: 100px;
    top: 10px;
}

.iconmailone {
    max-height: 3%;
    max-width: 3%;
    position: relative;
    float: left;
    left: 460px;
    top: 15px;
}

.iconmailtwo {
    max-height: 3%;
    max-width: 3%;
    position: relative;
    float: left;
    left: 280px;
    top: 15px;
}

/* End External Page */


/* Start Testimony Page */

.testimony-vid {
    width: 70%;
    height: auto;
    margin: 25px 15% 45px;
}

.testimonyimg {
    max-width: 10%;
    max-height: 8%;
    display: inline-block;
    padding: 1%;
}


.testimonyimg2 {
    max-width: 10%;
    max-height: 10%;
    display: inline-block;
    padding: 3%;
    position: relative;
    right: 400px;
}

.pastparticipants {
    background-color: #EAEAEA;
    margin-left: auto;
    margin-right: auto;

}

.buttontestimonial {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 5px;
    border: none;
    padding: 5px 15px 8px;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
    position: relative;
    top: 180px;
    left: 5px;
}

.buttontestimonial:hover {
    background-color: #014D22;
    color: #fff;
    border-radius: 10px;
    border: none;
}

#formtestimony {
    width: auto;
    background-color: #EAEAEA;
    border: 2px #014D22;
    position: relative;
}

/* End Testimony */


/* Contact Page */

.columnfirst {
    float: left;
    width: 31.33%;
    padding-left: .5%;
    height: 360px;
}

.columnfirst img {
    width: 80%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.columnsecond {
    float: left;
    width: 31.33%;
    padding-left: 1.5%;
    height: 360px;
}

.columnsecond img {
    width: 80%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.columnthird {
    float: left;
    width: 31.33%;
    padding-left: 1.5%;
    height: 360px;
}

.columnthird img {
    width: 80%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contacth4alex {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    right: 120px;
    top: 33px;
}

.contacth4walker {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    right: 120px;
    top: 30px;
}

.contacth4john {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    right: 120px;
    top: 95px;
}

.iconmailcontactalex {
    max-height: 6%;
    max-width: 6%;
    position: relative;
    float: left;
    left: 380px;
    top: 60px;
}

.iconmailcontactjohn {
    max-height: 6%;
    max-width: 6%;
    position: relative;
    float: left;
    right: 370px;
    top: 120px;
}

.iconmailcontactwalker {
    max-height: 6%;
    max-width: 6%;
    position: relative;
    float: left;
    right: 1px;
    top: 60px;
}

.containertan {
    background-color: #B4965C;
    padding: 0%;
    display: inline-block;
    width: 96%;
    margin: 250px 0px;
}

.iconcontacttan {
    display: inline-block;
    padding-left: 3%;
}

formcontact {
    width: auto;
    border: 2px #014D22;
    background-color: #EAEAEA;
    position: relative;
    margin-bottom: 100px;
}

.buttoncontact {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 10px;
    border: none;
    padding: 8px 15px 8px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    left: 800px;
    bottom: 200px;
}

.buttoncontact:hover {
    background-color: #014D22;
    color: #fff;
    border-radius: 10px;
    border: none;
}


/* End Contact Page */


fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
    color: #014D22;
    border: 2px #014D22;
}

label {
    display: block;
    padding: 1%;
    color: green;
    font-size: 1.25em;
}

.form-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.labeldivision {
    display: inline-block;
}

.messageform {
    height: 175px;
}

/* Mobile Viewport: style rules for Index.html Upcoming Events*/
#event-calendar {
    height: auto;
    display: inline-grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin-top: 30px;
}


.event-cal-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.cal-img {
    object-fit: cover;
    z-index: 0;
}

.cal-date {
    position: absolute;
    display: block;
    width: 30%;
    height: auto;
    background-color: #014D22;
    border-radius: 0px 10px 10px;
    z-index: 1;
    top: 0;

}

.cal-date h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
}

.cal-title {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 100%;
    bottom: 55px;
    background-color: #EAEAEA;
}

.cal-title h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.cal-title p {
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 10px;
}

.cal-year {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    right: 0px;
    background-color: #014D22;
    width: 100%;
    height: auto;
    margin-top: -5px;
    margin-bottom: -5px;
}

.cal-year h3 {
    color: #fff;
    text-align: right;
    padding-right: 10px;
}

/* Mobile Viewport: Style rules for packages boxes */

#packagelist {
    display: inline-grid;
    width: 100%;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

#packagelist h2 {
    text-align: center;
    height: 8%;
}

#packagelist ul {
    font-family: "DM Sans", sans-serif;
}

/* Mobile Viewport: Style Rules for Buttons */
.button {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 10px;
    border: none;
    padding: 8px 15px 8px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #014D22;
    color: #fff;
    border-radius: 10px;
    border: none;
}

/* Style Rules for payment process timeline */

#paymentprocess {
    display: inline-grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    height: auto;
    width: 100%;
}

.payment-steps section {
    background-color: #014D22;
}

.payment-steps section p {
    color: #fff;
}

.payment-steps section h3 {
    color: #fff;
    text-align: center;
}

.payment-numbers h4 {
    margin: 20px 40%;
    display: block;
    justify-items: center;
}

.spacerimg {
    width: 100%;
    text-align: center;
    margin: 0;
}

.spacerimg img {
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.spacerimg .button {
    margin-top: 10%;
    text-decoration: none;
}

.lodging {
    margin: 50px 0px;
}

/* Style Rules for sections */

section {
    background-color: #EAEAEA;
    padding: 15px;
    font-family: "DM Sans", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style Rule for packages tanbox */

#tanbox {
    background-color: #B4965C;
    padding: 1% 2%;
    display: inline-block;
    width: 96%;
    margin: 45px 0;
}

#tanbox h2,
#tanbox h3 {
    color: #fff;
    margin-top: 7%;
    margin-bottom: 7%;
    text-align: center;
}

#tanbox p {
    color: #fff;
}

#tanbox .button {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
}

#tanbox .parent-transport .button {
    margin: 0 31% 20px;
}

.resource-btns .button {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resource-btns a {
    text-decoration: none;
}

.resource-btns {
    width: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Packages content */

.lodging-grid1,
.lodging-grid2,
.lodging-grid3,
.transport-grid {
    display: inline-grid;
    grid-template-rows: 100px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: auto;

}

.ohana-hotel-img,
.transport-car,
.marriot-hotel-img,
.hilo-hotel-img {
    grid-row: 1;
    overflow: hidden;

}

.ohana-hotel-img img {
    transform: translateY(-18%);
}

.transport-car img {
    transform: translateY(-40%);
}

.hilo-hotel-img img {
    transform: translateY(-30%);
}

.ohana-hotel-content,
.transport,
.marriot-hotel-content,
.hilo-hotel-content {
    grid-row: 2/3;
    height: auto;
}

/* activities content */

.activities-vid {
    width: 70%;
    height: auto;
    margin: 25px 15% 45px;
}

.activites-grid1,
.activites-grid2,
.activites-grid3,
.activites-grid4 {
    display: inline-grid;
    grid-template-rows: 100px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: auto;

}

.diamond-img,
.lighthouse-img,
.arizona-img,
.luau-img {
    grid-row: 1;
    overflow: hidden;

}

.diamond-img img {
    transform: translateY(-30%);
}

.lighthouse-img img {
    transform: translateY(-30%);
}

.arizona-img img {
    transform: translateY(-18%);
}


.diamond-content,
.lighthouse-content,
.arizona-content,
.luau-content {
    grid-row: 2/3;
    height: auto;
}

/* Style rules for events page */
.events {
    padding-bottom: 10px;
}

#soccer {
    margin-bottom: -50px;
}

/* Style rules for basketball, softball, and soccer pages */
.facility-section {
    padding-bottom: 15px;
}

.timeline {
    display: inline-grid;
}

.timeline-steps .numbers {
    margin-bottom: -20px;
}

.container-basketball-teams,
.container-softball-teams,
.container-soccer-teams {
    display: block;
    margin-bottom: -30px;
    width: 100%;
}

.committed-teams {
    padding-top: 15px;
    width: 100%;
}

.container-basketball-teams img,
.container-softball-teams img,
.container-soccer-teams img {
    max-width: 50%;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 0.65em;
}

.footer-contact {
    display: block;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 2%;
}

.footer-contact ul {
    list-style: none;
    padding-right: 10%;
}

.footer-contact li a {
    color: #fff;
}

.socials a {
    display: inline-block;
    text-align: center;
    padding: 4%;
}

/* Hide footer navigation and logo for mobile viewport */
.footer-nav,
#footer-logo {
    display: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 627px),
print {

    /* Tablet Viewport: Show tablet-dektop-nav class, hide mobile class */
    .tablet-desktop-nav,
    #heroimg-tab-desk {
        display: block;
    }

    .mobile,
    .mobile-nav,
    #heroimg-mobile {
        display: none;
    }

    /* Tablet Viewport: Style rule for header */
    header {
        padding-top: 1%;
        padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */
    .tablet-desktop-nav {
        padding: 1%;
        margin-bottom: 1%;
    }

    .tablet-desktop-nav ul {
        list-style-type: none;
        text-align: center;
    }

    .tablet-desktop-nav li {
        font-family: "DM Sans", sans-serif;
        font-size: 1.25em;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    .tablet-desktop-nav li:last-child {
        border-right: none;
    }

    .tablet-desktop-nav li a {
        padding: 0.1em 0.75em;
        display: block;
        color: #fff;
        text-decoration: none;
    }

    #nav {
        z-index: 100;
        position: relative;
    }

    /* Hide Events sub nav on Tablet */
    .eventsDropdown {
        display: none;
    }

    /* Tablet Viewport: Style Rules for hero image and content */

    #heroimg-tab-desk {
        position: relative;
    }

    #heroimg-tab-desk p {
        position: absolute;
        top: 55%;
        padding-left: 5%;
        width: 300px;
        font-family: "DM Sans", sans-serif;
    }

    #heroimg-tab-desk .index-btns {
        position: absolute;
        top: 80%;
        padding-left: 5%;
        font-size: .75em;
    }

    /* Tablet Viewport: Style Rules for main content area */

    main {
        padding: 60px 60px 80px;
    }

    /* Tablet Viewport: Style Rules for Buttons */
    .button {
        font-size: 1.2em;
    }

    .spacerimg {
        position: relative;
        width: 100%;
        padding: 0;
    }

    .spacerimg img {
        display: block;
        width: 100%;
        height: 100px;
    }

    .spacerimg .button {
        position: absolute;
        text-decoration: none;
        left: 35%;
        right: 35%;
        width: auto;
        margin: 3% auto;
    }


    #index-first {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 10%;

    }

    .grey-info-box {
        height: auto;
        width: auto;
        margin-bottom: 50px;
    }

    /* Tablet Viewport: Style rules for Index.html Upcoming Events */
    #event-calendar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);

    }

    /* Tablet Viewport: style rules for packages lists*/
    #packagelist {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1rem;
        width: 100%;
    }

    #packagelist .grey-info-box {
        height: 75%;

    }

    /*Tablet Viewport: Testimony page */

    .testimonyimg {
        position: relative;
        left: 145px;
    }

    .testimonyimg2 {
        position: relative;
        left: 180px;
    }

    .buttontestimonial {
        font-family: "DM Sans", sans-serif;
        font-size: .8em;
        color: #fff;
        background-color: #22A858;
        border-radius: 5px;
        border: none;
        padding: 5px 15px 8px;
        cursor: pointer;
        text-decoration: none;
        height: 30px;
        position: relative;
        top: 223px;
        right: 110px;
        width: auto;
    }

    .buttontestimonial:hover {
        background-color: #014D22;
        color: #fff;
        border-radius: 10px;
        border: none;
    }

    form {
        width: 100%;
        border: 2px #014D22;
        background-color: #EAEAEA;
    }


    /* Tablet Viewport: payment process list */

    #paymentprocess {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .payment-steps section {
        height: 175px;
    }

    #tanbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        align-items: center;
    }

    #tanbox h2,
    #tanbox h3 {
        text-align: left;
        color: #fff;
        top: 30%;
        bottom: 30%;
        width: 40%;
    }

    #tanbox h2 {
        top: auto;
        bottom: auto;
        width: 100%;
        column-span: all;
    }

    #tanbox .parent-activity {
        grid-column: 1;
        margin-bottom: 25px;
        margin-top: 0;
    }

    #tanbox .parent-transport {
        grid-column: 2;
        margin-bottom: 25px;
        margin-top: 0;
    }

    #tanbox .parent-transport .button {
        margin: 0;
        float: right;
    }

    #tanbox .contactpage {
        position: relative;
    }

    .resource-btns .button {
        display: block;
        width: 70%;
        margin-right: 0;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .resource-btns a {
        text-decoration: none;
    }

    .resource-btns {
        width: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }


    .lodging-grid1,
    .lodging-grid2,
    .lodging-grid3,
    .transport-grid {
        grid-template-rows: 300px auto auto;
    }

    .activites-grid1,
    .activites-grid2,
    .activites-grid3 {
        grid-template-rows: 300px auto auto;
    }

    .activites-grid4 {
        grid-template-rows: auto auto auto;
    }

    .diamond-img img,
    .lighthouse-img img,
    .arizona-img img,
    .luau-img img {
        transform: none;
    }

    /* Hide mobile headers */
    #basketball-header-mobile,
    #softball-header-mobile,
    #soccer-header-mobile {
        display: none;
    }

    /* Tablet Viewport: Styles for the events page */
    .events {
        padding-bottom: 15px;
    }

    /* Tablet Viewport: Style rules for basketball, softball, and soccer page */
    .basketball-background-img,
    .softball-background-img,
    .soccer-background-img {
        float: left;
        max-width: 42%;
        padding-right: 20px;
    }

    .basketball-background,
    .softball-background,
    .soccer-background {
        margin: 0;
        padding-bottom: 50px;
    }

    .softball-background-content a,
    soccer-background-content a {
        margin-left: 290px;
    }

    .facility-section {
        padding-bottom: 30px;
    }

    .container-facility {
        padding-bottom: 30px;
    }

    #timeline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #timeline section {
        height: 200px;
    }

    .timeline-steps .numbers {
        margin-left: 20px;
        margin-bottom: -20px;
    }

    .timeline-steps {
        padding: 10px 10px;
    }

    .committed-teams-img img {
        max-width: 200%;
        padding-bottom: 30px;
        margin-left: 150px;
    }

    .soccer-committed-teams-img {
        max-width: 100px;
        margin-left: 300px;
    }


    /* Tablet Viewport: Style Rules for footer*/
    footer {
        color: #fff;
    }

    footer p {
        font-family: "DM Sans", sans-serif;
        text-align: right;
        padding-right: 3%;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #footer-logo {
        display: block;
        text-align: left;
        padding-left: 15%;
        padding-top: 5%;
    }

    .footer-nav {
        display: grid;
    }

    .footer-nav li {
        list-style: none;
        text-align: left;
    }

    .footer-nav li a {
        color: #fff;
    }

    .container-socials-content {
        display: grid;
        grid-template-columns: auto;
    }

    .socials {
        text-align: right;
        padding-right: 10%;
    }

    .socials a {
        padding-left: 2%;
    }

    .footer-contact li {
        text-align: right;
    }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px),
print {

    /* Desktop Viewport: Style rules for header */
    header {
        float: left;
        padding-bottom: 5px;
        margin-left: 15px;
        width: 10%
    }

    /* Desktop Viewport: Style rules for nav area  */
    .tablet-desktop-nav {
        float: right;
        width: 85%;
        margin: 0;
    }

    .tablet-desktop-nav ul {
        display: inline-block;
        position: absolute;
        background: #014D22;
        list-style: none;
    }

    .tablet-desktop-nav ul li {
        display: inline-block;
        border: none;
        padding: 0;
        width: auto;
    }

    .tablet-desktop-nav ul li a {
        color: #fff;
        display: block;
        padding: 0.5em 1em;
        width: auto;
        text-align: center;
        text-decoration: none;
    }

    .tablet-desktop-nav ul li:hover {
        color: #fff;
        background-color: #22A858;
    }

    /* dropdown nav for events */

    .eventsDropdown {
        display: none;
    }

    .tablet-desktop-nav ul li:hover .eventsDropdown {
        display: block;
        position: absolute;
        background-color: #014D22;
        margin-top: 0px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    }

    .tablet-desktop-nav ul li:hover .eventsDropdown ul {
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
    }

    .tablet-desktop-nav ul li:hover .eventsDropdown ul li a {
        text-align: left;
        font-family: "DM Sans", sans-serif;
        font-size: .57em;

    }


    /* Desktop Viewport: Style rules for hero image */
    #heroimg-tab-desk p {
        position: absolute;
        top: 65%;
        padding-left: 5%;
        width: auto;
        font-family: "DM Sans", sans-serif;
        font-size: 1.1em;
    }

    #heroimg-tab-desk .index-btns {
        position: absolute;
        top: 80%;
        padding-left: 5%;
        font-size: 1.2em;
    }



    /* Desktop Viewport: Style rules for main content */
    main {
        clear: left;
    }

    /* Desktop Viewport: Style rules for Index.html Upcoming Events */
    #event-calendar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    /* Desktop Viewport: Style rules for payment process list */
    #paymentprocess {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }


    /* Desktop Viewport: Packges content */

    .lodging-grid1 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .marriot-hotel-content {
        grid-column: 2/3;
        grid-row: auto;
    }

    .marriot-hotel-img {
        grid-column: 1;
        grid-row: auto;
        overflow: visible;
    }

    .lodging-grid2 {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .ohana-hotel-content {
        grid-column: 1/2;
        grid-row: auto;
    }

    .ohana-hotel-img {
        grid-column: 3;
        grid-row: auto;
        overflow: visible;
    }

    .lodging-grid3 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .hilo-hotel-content {
        grid-column: 2/3;
        grid-row: auto;
    }

    .hilo-hotel-img {
        grid-column: 1;
        grid-row: auto;
        overflow: visible;
    }

    .transport-grid {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .transport {
        grid-column: 1/2;
        grid-row: auto;
    }

    .transport-car {
        grid-column: 3;
        grid-row: auto;
        overflow: visible;
    }

    .ohana-hotel-img img,
    .transport-car img,
    .hilo-hotel-img img {
        transform: none;
    }


    /* Desktop Viewport: Activities content */

    .activites-grid1 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .diamond-content {
        grid-column: 2/3;
        grid-row: auto;
    }

    .diamond-img {
        grid-column: 1;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }

    .activites-grid2 {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .lighthouse-content {
        grid-column: 1/2;
        grid-row: auto;
    }

    .lighthouse-img {
        grid-column: 3;
        height: auto;
        grid-row: auto;
        overflow: visible;
    }

    .activites-grid3 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .arizona-content {
        grid-column: 2/3;
        grid-row: auto;
    }

    .arizona-img {
        grid-column: 1;
        height: auto;
        grid-row: auto;
        overflow: visible;
    }

    .activites-grid4 {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .luau-content {
        grid-column: 1/2;
        grid-row: auto;
    }

    .luau-img {
        grid-column: 3;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }

    /* Style rules for event pages */
    .img-basketball {
        float: left;
        max-width: 32%;
        padding-right: 30px;
    }

    .content-basketball {
        padding-right: 30px;
        padding-bottom: 40px;
    }

    .content-basketball a {
        float: right;
    }

    .img-softball {
        float: right;
        max-width: 32%;
    }

    .content-softball {
        padding-left: 30px;
        padding-bottom: 40px;
    }

    .content-softball a {
        float: left;
    }

    .img-soccer {
        float: left;
        max-width: 27%;
        padding-right: 30px;
    }

    .content-soccer {
        padding-left: 30px;
        padding-bottom: 40px;
    }

    .content-soccer a {
        float: right;
        padding-right: 30px;
    }

    /* Style rules for basketball, softball, and soccer pages */
    .basketball-background,
    .softball-background,
    .soccer-background {
        padding-bottom: 120px;
    }

    .basketball-background-img,
    .soccer-background-img {
        float: left;
        max-width: 25%;
        padding-right: 50px;
    }

    .softball-background-img {
        max-width: 30%;
        padding-right: 50px;
        padding-top: 40px;
    }

    .basketball-background-content,
    .softball-background-content,
    .soccer-background-content {
        padding: 30px 50px;
    }

    .basketball-background-content a,
    .softball-background-content a,
    .soccer-background-content a {
        float: right;
        padding-top: 35px;
    }

    .facility-section {
        padding-bottom: 75px;
    }

    .facility-content {
        margin-right: 700px;
        height: 360px;
    }

    .basketball-facility-img img {
        max-width: 60%;
        float: right;
        margin-top: -375px;
        margin-right: 10px;
    }

    .softball-facility-img img {
        max-width: 60%;
        float: right;
        margin-top: -384px;
        margin-right: -22px;
    }

    .facility-content1 {
        margin-right: 580px;
        height: 380px;
        padding-left: 20px;
    }

    .facility-content1 h3 {
        padding-top: 70px;
    }

    .soccer-facility-img1 img {
        max-width: 48%;
        float: right;
        margin-top: -400px;
    }

    .facility-content2 {
        margin-left: 620px;
        height: 378px;
        padding-right: 20px;
    }

    .facility-content2 h3 {
        padding-top: 70px;
    }

    .soccer-facility-img2 img {
        max-width: 48%;
        float: left;
        margin-top: -396px;
    }

    .facility-content3 {
        margin-right: 620px;
        height: 300px;
        padding-left: 20px;
    }

    .facility-content3 h3 {
        padding-top: 38px;
    }

    .soccer-facility-img3 img {
        max-width: 50%;
        float: right;
        margin-top: -316px;
        margin-right: 6px;
    }

    .facility-content4 {
        margin-left: 600px;
        height: 378px;
        padding-right: 20px;
    }

    .facility-content4 h3 {
        padding-top: 86px;
    }

    .soccer-facility-img4 img {
        max-width: 48%;
        float: left;
        margin-top: -398px;
    }


    #timeline {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: -300px;
    }

    #timeline section {
        height: 200px;
    }

    .timeline-steps .numbers {
        margin-left: 50px;
    }

    .container-basketball-teams {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto;
        background-color: #EAEAEA;
        height: 150px;
        align-content: center;
    }

    .container-basketball-teams img {
        text-align: center;
        max-width: 40%;
        margin-left: 65px;
    }

    .container-softball-teams {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        background-color: #EAEAEA;
        height: 150px;
        align-content: center;
    }

    .container-softball-teams img {
        max-width: 50%;
        margin-left: 96px;
        padding-top: 80px;
    }

    .container-soccer-teams {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        background-color: #EAEAEA;
        height: 150px;
        align-content: center;
    }

    .container-soccer-teams img {
        max-width: 100px;
        margin: 0px 150px 0px 150px;
        padding-top: 15px;
    }

    /* Desktop Viewport: Style rules for footer */
    #footer-logo {
        text-align: left;
        padding: 6%;
    }
}

/* Media Query for large desktop viewports */
@media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }
}

/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}
