/* CSS Reset */
body,
header,
nav,
main,
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Style Rules for Scroll Behavior */
html {
    scroll-behavior: smooth;
}

/* Style Rules for body and images */
body {
    background: #014D22;
}

img,
video {
    max-width: 100%;
    display: block;
}

/* Style rules for skip navigation link */
.skip {
    position: absolute;
    left: -999px;
}

.skip:focus {
    color: #fff;
    background-color: #014D22;
    text-decoration: none;
    padding: 0.3%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}

/* Style Rules for Mobile Viewport */

/* Style Rules for Header */
header {
    top: 0;
    padding-bottom: 15px;
    background-color: #014D22;
}

header img {
    margin: 0 auto;
    padding-left: 3%;
    padding-top: 3%;
}

/* Style Rules for Hamburger Menu */
.mobile-nav a {
    color: #fff;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #014D22;
}

/* Show Mobile class, hide tablet-desktop class and menu-links id */
.mobile,
#heroimg-mobile {
    display: block;
}

.tablet-desktop-nav,
#menu-links,
#heroimg-tab-desk {
    display: none;
}

/* Style rules for main content */
main {
    background-color: #fff;
    padding: 10px 30px 80px;
}

h2 {
    color: #B4965C;
    font-family: "DM Sans", sans-serif;
}

.contacth2 {
    color: #fff;
}

h3 {
    color: #014D22;
    font-family: "DM Sans", sans-serif;
}

h4 {
    background-color: #22A858;
    color: #fff;
    text-align: center;
    font-size: 2em;
    border-radius: 0.5em;
    border: none;
    padding: 5px 25px;
    display: inline-block;
    margin: 20px 0 20px 100px;
}


h5 {
    color: #014D22;
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

p {
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#index-who {
    float: left;
    display: block;
    margin-bottom: 10%;
}

#index-who .button {
    margin-bottom: 40px;
}

.grey-info-box {
    background-color: #EAEAEA;
    padding: 15px;
}

/* Start External Page*/

.externalone {
    display: none;
    max-width: 33%;
    max-height: 33%;
}

.externaltwo {
    display: none;
    max-width: 32%;
    max-height: 30%;
    position: relative;
    float: right;
    bottom: 190px;
}

.externalh4 {
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    display: inline-block;
    margin-left: auto;
}

.externalh4logos {
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    padding: 10px 10px;
    display: block;
    margin: 0px 0 15px 0px;
}

.buttonexternal {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 10px;
    border: none;
    padding: 8px 15px 8px;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
    display: block;
    
}

/* End External Page */


/* Start Testimony Page */

.testimony-vid {
    width: 70%;
    height: auto;
    margin: 25px 15% 45px;
}

.testimonyimg {
    max-width: 10%;
    max-height: 8%;
    display: inline;
    padding: 1%;
}


.testimonyimg2 {
    max-width: 10%;
    max-height: 10%;
    display: inline-block;
    padding: 3%;
}

.pastparticipants {
    background-color: #EAEAEA;
    text-align: center;

}

.buttontestimonial {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 5px;
    border: none;
    padding: 5px 15px 8px;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
    text-align: center;
    margin-top: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.buttontestimonial:hover {
    background-color: #014D22;
    color: #fff;
    border-radius: 10px;
    border: none;
}

#formtestimony {
    width: auto;
    background-color: #EAEAEA;
    border: 2px #014D22;
    position: relative;
    text-align: center;
}

.form-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}


/* End Testimony */


/* Contact Page */

.contacth2 {
    color: #fff;
    text-align: center;
}

.columnfirst {
    width: auto;
    padding-left: .5%;
    height: auto;
}

.columnfirst img {
    width: 80%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.columnsecond {
    width: auto;
    padding-left: 1.5%;
    height: auto;
}

.columnsecond img {
    width: 70%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
    
}

.columnthird {
    width: auto;
    padding-left: 1.5%;
    height: auto;
}

.columnthird img {
    width: 80%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sectioncontact {
    height: auto;
}

.contacth4alex {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    display: inline-block;
    margin-top: auto;
    margin-left: auto;
}

.contacth4walker {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    display: inline-block;
    margin-top: auto;
    margin-left: auto;
}

.contacth4john {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    display: inline-block;
    margin-top: auto;
    margin-left: auto;
}

.contacth4 {
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    border: none;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.containertan {
    background-color: #B4965C;
    padding: 0%;
    display: block;
    width: 96%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.iconcontacttan {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

formcontact {
    width: auto;
    border: 2px #014D22;
    background-color: #EAEAEA;
}

.buttoncontact {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 10px;
    border: none;
    padding: 8px 15px 8px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 200px;
    margin-top: 5px;
    
}


.buttoncontact:hover {
    background-color: #014D22;
    color: #fff;
    border-radius: 10px;
    border: none;
}


/* End Contact Page */


fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
    color: #014D22;
    border: 2px #014D22;
}

label {
    display: block;
    padding: 1%;
    color: green;
    font-size: 1.25em;
}

.labeldivision {
    display: inline-block;
}

.messageform {
    height: 175px;
}

/* Mobile Viewport: style rules for Index.html Upcoming Events*/
#event-calendar {
    height: auto;
    display: inline-grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin-top: 30px;
}


.event-cal-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.cal-img {
    object-fit: cover;
    z-index: 0;
}

.cal-img img {
    width: 100%;
}

.cal-date {
    position: absolute;
    display: block;
    width: 30%;
    height: auto;
    background-color: #014D22;
    border-radius: 0px 10px 10px;
    z-index: 1;
    top: 0;

}

.cal-date h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
}

.cal-title {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 100%;
    bottom: 55px;
    background-color: #EAEAEA;
}

.cal-title h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.cal-title p {
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 10px;
}

.cal-year {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    right: 0px;
    background-color: #014D22;
    width: 100%;
    height: auto;
    margin-top: -5px;
    margin-bottom: -5px;
}

.cal-year h3 {
    color: #fff;
    text-align: right;
    padding-right: 10px;
}

/* Mobile Viewport: Style rules for packages boxes */

#packagelist {
    display: inline-grid;
    width: 100%;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

#packagelist h2 {
    text-align: center;
    height: 8%;
}

#packagelist ul {
    font-family: "DM Sans", sans-serif;
}

/* Mobile Viewport: Style Rules for Buttons */
.button {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 10px;
    border: none;
    padding: 8px 15px 8px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #014D22;
    color: #fff;
    border-radius: 10px;
    border: none;
}

/* Style Rules for payment process timeline */

#paymentprocess {
    display: inline-grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    height: auto;
    width: 100%;
}

.payment-steps section {
    background-color: #014D22;
}

.payment-steps section p {
    color: #fff;
}

.payment-steps section h3 {
    color: #fff;
    text-align: center;
}

.payment-numbers h4 {
    margin: 20px 40%;
    display: block;
    justify-items: center;
}

.spacerimg {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 50px 0 50px;
}

.spacerimg img {
    display: none;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.spacerimg .button {
    margin-top: 10%;
    text-decoration: none;
}

.lodging {
    margin: 50px 0px;
}

/* Style Rules for sections */

section {
    background-color: #EAEAEA;
    padding: 15px;
    font-family: "DM Sans", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style Rule for packages tanbox */

#tanbox {
    background-color: #B4965C;
    padding: 1% 2%;
    display: inline-block;
    width: 96%;
    margin: 45px 0;
}

#tanbox h2,
#tanbox h3 {
    color: #fff;
    margin-top: 7%;
    margin-bottom: 7%;
    text-align: center;
}

#tanbox p {
    color: #fff;
}

#tanbox .button {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
}

#tanbox .parent-transport .button {
    margin: 0 31% 20px;
}

.resource-btns .button {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resource-btns a {
    text-decoration: none;
}

.resource-btns {
    width: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Packages content */

.lodging-grid1,
.lodging-grid2,
.lodging-grid3,
.transport-grid {
    display: inline-grid;
    grid-template-rows: 100px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: auto;

}

.ohana-hotel-img,
.transport-car,
.marriot-hotel-img,
.hilo-hotel-img {
    grid-row: 1;
    overflow: hidden;

}

.ohana-hotel-img img {
    transform: translateY(-18%);
}

.transport-car img {
    transform: translateY(-40%);
}

.hilo-hotel-img img {
    transform: translateY(-30%);
}

.ohana-hotel-content,
.transport,
.marriot-hotel-content,
.hilo-hotel-content {
    grid-row: 2/3;
    height: auto;
}

/* activities content */

.activities-vid {
    width: 70%;
    height: auto;
    margin: 25px 15% 45px;
}

.activites-grid1,
.activites-grid2,
.activites-grid3,
.activites-grid4 {
    display: inline-grid;
    grid-template-rows: 100px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: auto;

}

.diamond-img,
.lighthouse-img,
.arizona-img,
.luau-img {
    grid-row: 1;
    overflow: hidden;

}

.diamond-img img {
    transform: translateY(-30%);
}

.lighthouse-img img {
    transform: translateY(-30%);
}

.arizona-img img {
    transform: translateY(-18%);
}


.diamond-content,
.lighthouse-content,
.arizona-content,
.luau-content {
    grid-row: 2/3;
    height: auto;
}

/* Style rules for events page */
.events {
    padding-bottom: 10px;
}

#soccer {
    margin-bottom: -50px;
}

.events-grid1, 
.events-grid2, 
.events-grid3 {
    display: inline-grid;
    grid-template-rows: 130px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    height: auto;
}

.img-basketball, 
.img-softball, 
.img-soccer {
    grid-row: 1;
    overflow: hidden;
}

.img-basketball img,
.img-softball img,
.img-soccer img {
    transform: translateY(-5%);
}

.content-basketball,
.content-softball, 
.content-soccer {
    grid-row: 2/3;
    height: auto;
}

/* Style rules for basketball, softball, and soccer pages */
.basketball-background {
    display: inline-grid;
    grid-template-rows: 240px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: auto;
}

.softball-background {
    display: inline-grid;
    grid-template-rows: 150px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    height: auto;
}

.soccer-background {
    display: inline-grid;
    grid-template-rows: 160px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    height: auto;
}

.basketball-background-img,
.softball-background-img,
.soccer-background-img {
    grid-row: 1;
    overflow: hidden;
}

.basketball-background-img img {
    transform: translateY(10%);
}

.container-facility {
    padding: 10px 0 10px 0;
}

.facility-section {
    display: inline-grid;
    grid-template-rows: 120px auto auto;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    height: auto;
}

.facility-img {
    grid-row: 1;
    overflow: hidden;
}

.facility-content {
    grid-row: 2/3;
    height: auto;
}

.facility-section1,
.facility-section2,
.facility-section3,
.facility-section4 {
    display: inline-grid;
    grid-template-rows: 120px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    height: auto;
}

.facility-img1,
.facility-img2,
.facility-img3,
.facility-img4 {
    grid-row: 1;
    overflow: hidden;
}

.facility-content1,
.facility-content2,
.facility-content3,
.facility-content4 {
    grid-row: 2/3;
    height: auto;
}

.timeline {
    display: inline-grid;
    margin: auto;
}

.timeline-steps .numbers {
    margin-bottom: -20px;
}

.committed-teams {
    padding-top: 10px;
}

.soccer-teams {
    text-align: center;
}

.container-basketball-teams {
    display: inline-grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    background-color: #EAEAEA;
    height: auto;
    margin: auto;
    padding: 50px 0 50px 0;
    }

.container-softball-teams {
    display: inline-grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    background-color: #EAEAEA;
    height: auto;
    margin: auto;
    padding: 50px 0 50px 0;
}

.container-soccer-teams {
    display: inline-grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    background-color: #EAEAEA;
    height: auto;
    margin: auto;
    width: auto;
    padding: 50px;
    }

.container-basketball-teams img,
.container-softball-teams img,
.container-soccer-teams img {
    max-width: 50%;
    margin: auto;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 0.65em;
}

.footer-contact {
    display: block;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 2%;
}

.footer-contact ul {
    list-style: none;
    padding-right: 10%;
}

.footer-contact li a {
    color: #fff;
}

.socials a {
    display: inline-block;
    text-align: center;
    padding: 4%;
}

/* Hide footer navigation and logo for mobile viewport */
.footer-nav,
#footer-logo {
    display: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 627px),
print {

    /* Tablet Viewport: Show tablet-dektop-nav class, hide mobile class */
    .tablet-desktop-nav,
    #heroimg-tab-desk {
        display: block;
    }

    .mobile,
    .mobile-nav,
    #heroimg-mobile {
        display: none;
    }

    /* Tablet Viewport: Style rule for header */
    header {
        padding-top: 1%;
        padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */
    .tablet-desktop-nav {
        padding: 1%;
        margin-bottom: 1%;
    }

    .tablet-desktop-nav ul {
        list-style-type: none;
        text-align: center;
    }

    .tablet-desktop-nav li {
        font-family: "DM Sans", sans-serif;
        font-size: 1.25em;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    .tablet-desktop-nav li:last-child {
        border-right: none;
    }

    .tablet-desktop-nav li a {
        padding: 0.1em 0.75em;
        display: block;
        color: #fff;
        text-decoration: none;
    }

    #nav {
        z-index: 100;
        position: relative;
    }

    /* Hide Events sub nav on Tablet */
    .eventsDropdown {
        display: none;
    }

    /* Tablet Viewport: Style Rules for hero image and content */

    #heroimg-tab-desk {
        position: relative;
    }

    #heroimg-tab-desk p {
        position: absolute;
        top: 55%;
        padding-left: 5%;
        width: 300px;
        font-family: "DM Sans", sans-serif;
    }

    #heroimg-tab-desk .index-btns {
        position: absolute;
        top: 80%;
        padding-left: 5%;
        font-size: .75em;
    }

    /* Tablet Viewport: Style Rules for main content area */

    main {
        padding: 60px 60px 80px;
    }

    /* Tablet Viewport: Style Rules for Buttons */
    .button {
        font-size: 1.2em;
    }

    .spacerimg {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 2% auto 5%;
        text-align: center;
    }

    .spacerimg img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }

    .spacerimg .button {
        position: absolute;
        text-decoration: none;
        max-width: 350px;
        max-height: 30px;
        right: 20%;
        left: 20%;
        top: 20%;
        bottom: 20%;   
        margin: auto;
        
    }


    #index-first {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 10%;

    }

    .grey-info-box {
        height: auto;
        width: auto;
        margin-bottom: 50px;
    }

    /* Tablet Viewport: Style rules for Index.html Upcoming Events */
    #event-calendar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);

    }

    /* Tablet Viewport: style rules for packages lists*/
    #packagelist {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1rem;
        width: 100%;
    }

    #packagelist .grey-info-box {
        height: 75%;

    }

    /* Tablet Viewport: payment process list */

    #paymentprocess {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .payment-steps section {
        height: 175px;
    }

    #tanbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        align-items: center;
    }

    #tanbox h2,
    #tanbox h3 {
        text-align: left;
        color: #fff;
        top: 30%;
        bottom: 30%;
        width: 40%;
    }

    #tanbox h2 {
        top: auto;
        bottom: auto;
        width: 100%;
        column-span: all;
        margin-top: 0;
        margin-bottom: 0;
    }

    #tanbox .parent-activity {
        display: block;
        padding-top: 20px;
        margin-bottom: -10%;        
    }
    
    #tanbox .parent-act-sections {
        grid-column: 1;
        margin-bottom: 10px;
        margin-top: 10px;
        min-height: 100px;
        max-height: 230px;
    }

    #tanbox .parent-transport {
        grid-column: 2;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-top: 5%;
        min-height: 100px;
        max-height: 230px;
    }

    #tanbox .parent-transport .button {
        margin: 0;
        float: right;
    }

    #tanbox .contactpage {
        position: relative;
    }

    .resource-btns .button {
        display: block;
        width: 70%;
        margin-right: 0;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .resource-btns a {
        text-decoration: none;
    }

    .resource-btns {
        width: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }


    .lodging-grid1,
    .lodging-grid2,
    .lodging-grid3,
    .transport-grid {
        grid-template-rows: 300px auto auto;
    }

    .activites-grid1,
    .activites-grid2,
    .activites-grid3 {
        grid-template-rows: 300px auto auto;
    }

    .activites-grid4 {
        grid-template-rows: auto auto auto;
    }

    .diamond-img img,
    .lighthouse-img img,
    .arizona-img img,
    .luau-img img {
        transform: none;
    }

    /* Tablet Viewport: Styles for the events page */
    .events {
        padding-bottom: 15px;
    }
    
    .events-grid1,
    .events-grid2,
    .events-grid3 {
        grid-template-rows: 300px auto auto;
    }

    /* Tablet Viewport: Style rules for basketball, softball, and soccer page */
    /* Hide mobile headers for basketball, softball, and soccer pages */
    #basketball-header-mobile,
    #softball-header-mobile,
    #soccer-header-mobile {
        display: none;
    }
    
    .basketball-background,
    .softball-background,
    .soccer-background {
        grid-template-rows: 300px auto auto;
        grid-template-columns: auto;
    }
    
    .basketball-background-img img {
        transform: none;
        max-width: 50%;
        margin: auto;
    }
    
    .softball-background-img img {
        transform: none;
    }
    
    .soccer-background-img img {
        transform: none;
        max-width: 75%;
        margin: auto;
    }
    
    .facility-section {
        grid-template-rows: 300px auto auto;
        grid-template-columns: auto;
    }
    
    .facility-section1,
    .facility-section2,
    .facility-section3,
    .facility-section4 {
        grid-template-rows: 300px auto auto;
        grid-template-columns: auto;
    }

    .facility-img img {
        transform: none;
    }

    .container-facility {
        padding-bottom: 30px;
    }

    #timeline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: auto;
    }

    #timeline section {
        height: 200px;
        margin: auto;
    }

    .timeline-steps .numbers {
        margin: auto;
        padding-right: 100px;
        text-align: center;
    }

    .timeline-steps {
        padding: 10px 10px;
        margin: auto;
    }
    
    .committed-teams {
        padding-top: 30px;
    }
    
    .soccer-teams {
        text-align: center;
    }

    .container-basketball-teams {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
    
    .container-softball-teams {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }
    
    .container-soccer-teams {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 100px;
        padding: 50px 80px 50px 80px;
        margin: auto;
        height: auto;
        width: auto;
    }
    
    .container-soccer-teams img {
        max-width: 100px;
        margin: auto;
    }
    
    /* Start External Page*/

.externalone {
    display: none;
    max-width: 33%;
    max-height: 33%;
}

.externaltwo {
    display: none;
    max-width: 32%;
    max-height: 30%;
    position: relative;
    float: right;
    bottom: 190px;
}

.externalh4 {
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    display: inline-block;
    margin-left: auto;
}

.externalh4logos {
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    padding: 10px 10px;
    display: inline-block;
    margin: 0px 0 15px 0px;
}

.buttonexternal {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 10px;
    border: none;
    padding: 8px 15px 8px;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    
}

/* End External Page */


/* Start Testimony Page */

.testimony-vid {
    width: 70%;
    height: auto;
    margin: 25px 15% 45px;
}

.testimonyimg {
    max-width: 10%;
    max-height: 8%;
    display: inline;
    padding: 1%;
}


.testimonyimg2 {
    max-width: 10%;
    max-height: 10%;
    display: inline-block;
    padding: 3%;
}

.pastparticipants {
    background-color: #EAEAEA;
    text-align: center;

}

.buttontestimonial {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 8px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    position: absolute;
    left: 410px;
    width: 30%;
    height: 15%;
    top: 240px;
}

.buttontestimonial:hover {
    background-color: #014D22;
    color: #fff;
    border-radius: 10px;
    border: none;
}

#formtestimony {
    width: auto;
    background-color: #EAEAEA;
    border: 2px #014D22;
    text-align: center;
}

.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
    .messagetestimony {
        height: 70%
    }


/* End Testimony */


/* Contact Page */

.contacth2 {
    color: #fff;
    text-align: center;
}

.columnfirst {
    width: auto;
    padding-left: .5%;
    height: auto;
}

.columnfirst img {
    width: 60%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.columnsecond {
    width: auto;
    padding-left: 1.5%;
    height: auto;
}

.columnsecond img {
    width: 55%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
    
}

.columnthird {
    width: auto;
    padding-left: 1.5%;
    height: auto;
}

.columnthird img {
    width: 55%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sectioncontact {
    height: auto;
}

.contacth4alex {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    display: block;
    margin-top: auto;
    margin-left: auto;
}

.contacth4walker {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    display: block;
    margin-top: auto;
    margin-left: auto;
}

.contacth4john {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    display: block;
    margin-top: auto;
    margin-left: auto;
}

.contacth4 {
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    border: none;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.containertan {
    background-color: #B4965C;
    padding: 0%;
    display: block;
    width: 96%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.iconcontacttan {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

formcontact {
    width: auto;
    border: 2px #014D22;
    background-color: #EAEAEA;
}
    
.form-gridcontact {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

.buttoncontact {
    font-family: "DM Sans", sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #22A858;
    border-radius: 10px;
    border: none;
    padding: 8px 15px 8px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    height: 50px;
    margin-top: auto;
}


.buttoncontact:hover {
    background-color: #014D22;
    color: #fff;
    border-radius: 10px;
    border: none;
}


/* End Contact Page */


    /* Tablet Viewport: Style Rules for footer*/
    footer {
        color: #fff;
    }

    footer p {
        font-family: "DM Sans", sans-serif;
        text-align: right;
        padding-right: 3%;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #footer-logo {
        display: block;
        text-align: left;
        padding-left: 15%;
        padding-top: 5%;
    }

    .footer-nav {
        display: grid;
    }

    .footer-nav li {
        list-style: none;
        text-align: left;
    }

    .footer-nav li a {
        color: #fff;
    }

    .container-socials-content {
        display: grid;
        grid-template-columns: auto;
    }

    .socials {
        text-align: right;
        padding-right: 10%;
    }

    .socials a {
        padding-left: 2%;
    }

    .footer-contact li {
        text-align: right;
    }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px),
print {

    /* Desktop Viewport: Style rules for header */
    header {
        float: left;
        padding-bottom: 5px;
        margin-left: 15px;
        width: 10%
    }

    /* Desktop Viewport: Style rules for nav area  */
    .tablet-desktop-nav {
        float: right;
        width: 85%;
        margin: 0;
    }

    .tablet-desktop-nav ul {
        display: inline-block;
        position: absolute;
        background: #014D22;
        list-style: none;
    }

    .tablet-desktop-nav ul li {
        display: inline-block;
        border: none;
        padding: 0;
        width: auto;
    }

    .tablet-desktop-nav ul li a {
        color: #fff;
        display: block;
        padding: 0.5em 1em;
        width: auto;
        text-align: center;
        text-decoration: none;
    }

    .tablet-desktop-nav ul li:hover {
        color: #fff;
        background-color: #22A858;
    }

    /* dropdown nav for events */

    .eventsDropdown {
        display: none;
    }

    .tablet-desktop-nav ul li:hover .eventsDropdown {
        display: block;
        position: absolute;
        background-color: #014D22;
        margin-top: 0px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    }

    .tablet-desktop-nav ul li:hover .eventsDropdown ul {
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
    }

    .tablet-desktop-nav ul li:hover .eventsDropdown ul li a {
        text-align: left;
        font-family: "DM Sans", sans-serif;
        font-size: .57em;

    }


    /* Desktop Viewport: Style rules for hero image */
    #heroimg-tab-desk p {
        position: absolute;
        top: 65%;
        padding-left: 5%;
        width: auto;
        font-family: "DM Sans", sans-serif;
        font-size: 1.1em;
    }

    #heroimg-tab-desk .index-btns {
        position: absolute;
        top: 80%;
        padding-left: 5%;
        font-size: 1.2em;
    }



    /* Desktop Viewport: Style rules for main content */
    main {
        clear: left;
    }

    /* Desktop Viewport: Style rules for Index.html Upcoming Events */
    #event-calendar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    /* Desktop Viewport: Style rules for payment process list */
    #paymentprocess {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }


    /* Desktop Viewport: Packges content */

    .lodging-grid1 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .marriot-hotel-content {
        grid-column: 2/3;
        grid-row: auto;
    }

    .marriot-hotel-img {
        grid-column: 1;
        grid-row: auto;
        overflow: visible;
    }

    .lodging-grid2 {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .ohana-hotel-content {
        grid-column: 1/2;
        grid-row: auto;
    }

    .ohana-hotel-img {
        grid-column: 3;
        grid-row: auto;
        overflow: visible;
    }

    .lodging-grid3 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .hilo-hotel-content {
        grid-column: 2/3;
        grid-row: auto;
    }

    .hilo-hotel-img {
        grid-column: 1;
        grid-row: auto;
        overflow: visible;
    }

    .transport-grid {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .transport {
        grid-column: 1/2;
        grid-row: auto;
    }

    .transport-car {
        grid-column: 3;
        grid-row: auto;
        overflow: visible;
    }

    .ohana-hotel-img img,
    .transport-car img,
    .hilo-hotel-img img {
        transform: none;
    }

    .spacerimg .button {
        margin: auto;
    }

    /* Desktop Viewport: Activities content */

    .activites-grid1 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .diamond-content {
        grid-column: 2/3;
        grid-row: auto;
    }

    .diamond-img {
        grid-column: 1;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }

    .activites-grid2 {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .lighthouse-content {
        grid-column: 1/2;
        grid-row: auto;
    }

    .lighthouse-img {
        grid-column: 3;
        height: auto;
        grid-row: auto;
        overflow: visible;
    }

    .activites-grid3 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .arizona-content {
        grid-column: 2/3;
        grid-row: auto;
    }

    .arizona-img {
        grid-column: 1;
        height: auto;
        grid-row: auto;
        overflow: visible;
    }

    .activites-grid4 {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .luau-content {
        grid-column: 1/2;
        grid-row: auto;
    }

    .luau-img {
        grid-column: 3;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }

    /* Style rules for event pages */
    .events-grid1 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0
    }

    .content-basketball {
        grid-column: 2/3;
        grid-row: auto;
    }
    
    .img-basketball {
        grid-column: 1;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }
    
    .img-basketball img,
    .img-softball img,
    .img-soccer img {
        transform: translateY(1%);
    }

    .content-basketball a {
        float: right;
    }

    .events-grid2 {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0
    }
    
    .content-softball {
        grid-column: 1;
        grid-row: auto;
    }
    
    .img-softball {
        grid-column: 3;
        grid-row: auto;
        height: auto;
        overflow: visible;        
    }

    .content-softball a {
        float: left;
    }

    .events-grid3 {
        display: grid;
        grid-template-columns: 28% auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 20px;
        align-items: center;
        padding: 0;
        margin: 0
    }

    .content-soccer {
        grid-column: 2/3;
        grid-row: auto;
    }
    
    .img-soccer {
        grid-column: 1;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }
    
    .learn-more-button3 {
        grid-column: 3;
        grid-row: 2;
        margin: -40px auto auto auto;
        
    }
    
    .learn-more-button1 {
        grid-column: 3;
        grid-row: 2;
        margin: -40px auto auto auto;
    }
    
    .learn-more-button2 {
        grid-column: 2/3;
        grid-row: 2;
        margin: -40px 20px 0 0;
    }
    
    .learn-more-button3 {
        grid-column: 3;
        grid-row: 2;
        margin: -40px -3px auto auto;
    }

    /* Style rules for basketball, softball, and soccer pages */
    .basketball-background,
    .softball-background,
    .soccer-background {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    
    .basketball-background-content, 
    .softball-background-content,
    .soccer-background-content {
        grid-column: 2/3;
        grid-row: auto;
    }
    
    .basketball-background-img img {
        transform: translateY(5%);
    }
    
    .softball-background-img img {
        max-width: 75%;
    }


    .basketball-background-content a,
    .softball-background-content a,
    .soccer-background-content a {
        float: right;
        padding-top: 10px;
    }
    
    .container-facility {
        padding-top: 50px;
    }    

    .facility-section {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-items: center;
    }

    .facility-img {
        grid-column: 3;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }
    
    .facility-content {
        grid-column: 1;
        grid-row: auto;
    }
    
    .facility-section1 {
        display: grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-items: center;
    }

    .facility-img1 {
        grid-column: 3;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }
    
    .facility-content1 {
        grid-column: 1;
        grid-row: auto;
    }
    
    .facility-section2 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-items: center;
    }

    .facility-img2 {
        grid-column: 1;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }
    
    .facility-content2 {
        grid-column: 3;
        grid-row: auto;
    }
    
    .facility-section3 {
        display: grid;
        grid-template-columns: auto auto 38%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-items: center;
    }

    .facility-img3 {
        grid-column: 3;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }
    
    .facility-content3 {
        grid-column: 1;
        grid-row: auto;
    }
    
    .facility-section4 {
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-items: center;
    }

    .facility-img4 {
        grid-column: 1;
        grid-row: auto;
        height: auto;
        overflow: visible;
    }
    
    .facility-content4 {
        grid-column: 3;
        grid-row: auto;
    }

    #timeline {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: -300px;
    }

    #timeline section {
        height: 200px;
    }

    .container-basketball-teams {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto;
        background-color: #EAEAEA;
        height: 150px;
        align-content: center;
    }

    .container-basketball-teams img {
        text-align: center;
        max-width: 40%;
    }

    .container-softball-teams {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        background-color: #EAEAEA;
        height: 150px;
        align-content: center;
    }

    .container-softball-teams img {
        max-width: 50%;
    }

    .container-soccer-teams {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        background-color: #EAEAEA;
        height: 100px;
        align-content: center;
    }

    .container-soccer-teams img {
        max-width: 100px;
        padding: 0 78px 0 78px;
        grid-row: 1 / span 3;
        margin: auto;
    }

/* Start External Page*/

    .externalone {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 33%;
        max-height: 33%;
        position: relative;
        bottom: 110px;
        float: right;
    }

    .externaltwo {
        display: block;
        max-width: 32%;
        max-height: 30%;
        position: relative;
        float: right;
        bottom: 190px;
    }

    .externalh4 {
        background-color: transparent;
        color: #fff;
        text-align: center;
        font-size: 1em;
        border: none;
        display: inline-block;
        margin-left: auto;
    }

    .externalh4logos {
        background-color: transparent;
        color: #fff;
        text-align: center;
        font-size: 1em;
        border: none;
        padding: 3px 20px;
        display: inline-block;
        margin: 0px 0 15px 0px;
    }
    
    .buttonexternal {
        font-family: "DM Sans", sans-serif;
        font-size: .8em;
        color: #fff;
        background-color: #22A858;
        border-radius: 10px;
        border: none;
        padding: 8px 15px 8px;
        cursor: pointer;
        text-decoration: none;
        display: block;
        float: left;
    
    }

    /* End External Page */


    /* Start Testimony Page */

    .testimony-vid {
        width: 70%;
        height: auto;
        margin: 25px 15% 45px;
    }

    .testimonyimg {
        max-width: 10%;
        max-height: 8%;
        display: inline;
        padding: 1%;
    }


    .testimonyimg2 {
        max-width: 10%;
        max-height: 10%;
        display: inline-block;
        padding: 3%;
    }

    .pastparticipants {
        background-color: #EAEAEA;
        text-align: center;

    }

    .buttontestimonial {
        font-family: "DM Sans", sans-serif;
        font-size: .8em;
        color: #fff;
        background-color: #22A858;
        border-radius: 5px;
        border: none;
        padding: 5px 15px 8px;
        cursor: pointer;
        text-decoration: none;
        height: 50px;
        text-align: center;
        margin-top: auto;
        width: 20%;
        float: left;
        position: absolute;
        left: 800px;
        top: 250px;
    }

    .buttontestimonial:hover {
        background-color: #014D22;
        color: #fff;
        border-radius: 10px;
        border: none;
    }

    #formtestimony {
        width: auto;
        background-color: #EAEAEA;
        border: 5px #014D22;
        text-align: left;
        margin-left: auto;
    }
    
    .form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    }
    
    .messagetestimony {
        height: 150px;
        width: 80%;
        background-color: #fff;
    }
    
    .customerinformation {
        height: 300px;
        column-gap: 10px;
        background-color: #fff;
    }
    
    legend {
        color: #014D22;
    }

    /* End Testimony */


    /* Contact Page */

    .columnfirst {
        float: left;
        width: 31.33%;
        padding-left: .5%;
        height: 360px;
    }

    .columnfirst img {
        width: 80%;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .columnsecond {
        float: left;
        width: 31.33%;
        padding-left: 1.5%;
        height: 360px;
    }

    .columnsecond img {
        width: 80%;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .columnthird {
        float: left;
        width: 31.33%;
        padding-left: 1.5%;
        height: 360px;
    }

    .columnthird img {
        width: 80%;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .sectioncontact {
    height: 243px;
    }
    
    .contacth4alex {
        color: #fff;
        text-align: center;
        font-size: 1em;
        border: none;
        background-color: transparent;
        display: inline-block;
        margin-top: auto;
        margin-left: auto;
    }

    .contacth4walker {
        color: #fff;
        text-align: center;
        font-size: 1em;
        border: none;
        background-color: transparent;
        display: inline-block;
        margin-top: auto;
        margin-left: auto;
    }

    .contacth4john {
        color: #fff;
        text-align: center;
        font-size: 1em;
        border: none;
        background-color: transparent;
        display: inline-block;
        margin-top: auto;
        margin-left: auto;
    }
    
    .contacth4 {
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    border: none;
    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    }

    .containertan {
        background-color: #B4965C;
        padding: 0%;
        display: inline-block;
        width: 96%;
        margin-top: 200px;
    }

    .iconcontacttan {
        display: inline-block;
        padding-left: 3%;
    }

    formcontact {
        width: auto;
        border: 2px #014D22;
        background-color: #EAEAEA;
    }
    
    .form-gridcontact {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    }
    
    .messageform {
    height: 175px;
    }

    .buttoncontact {
        font-family: "DM Sans", sans-serif;
        font-size: .8em;
        color: #fff;
        background-color: #22A858;
        border-radius: 10px;
        border: none;
        padding: 8px 15px 8px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        left: 800px;
        bottom: 200px;
    }

    .buttoncontact:hover {
        background-color: #014D22;
        color: #fff;
        border-radius: 10px;
        border: none;
    }


/* End Contact Page */

    /* Desktop Viewport: Style rules for footer */
    #footer-logo {
        text-align: left;
        padding: 6%;
    }
}

/* Media Query for large desktop viewports */
@media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }
}


/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}
